body {
  margin: 8px;
  padding: 0px;
  border: 0px;
}
@media (prefers-color-scheme: light) {
  * {
    color: #222222;
  }
  body {
    background: #ffffff;
  }
  .shown {
    color: #0c0cff;
  }
}
@media (prefers-color-scheme: dark) {
  * {
    color: #cdcdcd;
  }
  body {
    background: #000000;
  }
  .shown {
    color: #33e6ff;
  }
}

* {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.shown {
  font-weight: bold;
}

@media(width>1000px) {
  .aside {
    position: absolute;
    left: 40%;
  }
}
@media(width<=1000px) {
  .aside {
    position: absolute;
    right: 0px;
  }
}
.footer {
  bottom: 0px;
  margin-bottom: 8px;
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
}