body {
  margin: 8px;
  padding: 0px;
  border: 0px;
}

* {
  color: #222222;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.shown {
  color: blue;
  font-weight: bold;
}


@media (min-width: 1000) {
  .aside {
    position: absolute;
    left: 40%;
  }
}
@media(max-width: 1000) {
  .aside {
    position: absolute;
    right: 0;
  }
}